<% include ../layout %>

<script src="/javascripts/PlomPred.js"></script>
<script src="/javascripts/PlomTs.js"></script>
<script src="/javascripts/parmatrix.js"></script>
<script src="/javascripts/corr.js"></script>
<script src="/javascripts/density.js"></script>
<script src="/javascripts/trace.js"></script>
<script src="/javascripts/autocorr.js"></script>
<script src="/javascripts/view.js"></script>
<script src="/javascripts/test.js"></script>
<script src="/javascripts/review.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/plomGraphModel.js"></script>

</head>

<body onload="prettyPrint()">

  <div class="container">


    <div class="row">
      <div id="headerLogo" class="span4">
        <h1 class="muted">PLoM.io</h1>
        <p class="plom-brand"> Public Library of Models</p>
      </div>

      <ul id="plomNav" class="nav nav-pills">
        <li><a href="/library"><%= context.disease.join('; ') %></a></li>
        <li><a href="/library"><%= context.name %></a></li>
        <li class="active"><a href="#"><%= process.name + ' - ' + link.name %></a></li>
      </ul>
    </div>


    <div class="row">
      <div class="span12">

        <!-- parameter list (templated) -->
        <div class="horizontal-scroll" data-toggle="buttons-radio" id="thetaList"></div>
        
        <ul class="nav nav-tabs" id="reviewTab">
          <li class="active">
            <a href="#model" data-toggle="tab">Model</a>
          </li>
          <li>
            <a href="#theta" data-toggle="tab">Results</a>
          </li>
          <li>
            <a href="#forecast" data-toggle="tab">Forecasting</a>
          </li>
        </ul>
        
        <div class="tab-content">

          <!-- Model -->
          <div class="tab-pane active" id="model">

            <div class="row">
              <div class="span10">
                <h4><%= process.name  + ' - ' + link.name %></h4>
              </div>
              <div class="span2">
                <form>
                  <button class="btn social-action" type="submit"><i class="icon-download"></i> Fork model</button>
                </form>
              </div>
            </div>

            <!-- templated -->
            <div id="modelTpl"></div>            

          </div><!-- end div#model -->


          <!-- theta -->
          <div class="tab-pane" id="theta">

            <div class="row">
              <div class="span10">
                <h4>Traces summary</h4>
              </div>
              <div class="span2">
                <form>
                  <button class="btn social-action" type="submit"><i class="icon-download"></i> Fork theta</button>
                </form>
              </div>
            </div>

            <!-- Summary table (templated) -->
            <div class="row"><div class="span12" data-toggle="buttons-radio" id="summaryTable"></div></div>	      	

            <!-- plots -->
            <div class="accordion" id="accDiagPlots">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accDiagPlots" href="#accDiagPlotsContent">Diagnostic plots</a>
                </div>

                <div id="accDiagPlotsContent" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div class="row" id="diagPlots"><% include diagnostics %></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Filtering -->
            <div class="accordion" id="accFiltering">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accFiltering" href="#accFilteringContent">Simulation and filtering</a>
                </div>

                <div id="accFilteringContent" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div class="row" id="filtering"><% include filtering %></div>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Review zone -->
            <div class="accordion" id="accReview">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accReview" href="#accReviewContent">Reviews</a>
                </div>

                <div id="accReviewContent" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div class="row" id="rowReviewTheta"><% include theta %></div>
                  </div>
                </div>
              </div>
            </div>


          </div> <!-- end div#theta -->


          
          <!-- Forecasting -->
          <div class="tab-pane" id="forecast">

            <div class="row">
              <div class="span8">
                <h4>Forecasting</h4>
              </div>
              <div class="span4">
                <form class="form-inline social-action">
                Forecast after the data for:
                <select id="nExtra" class="input-small">
                  <% for(var i=0; i<11; i++){ %>
                  <option value="<%= i %>"> <%= i %> years</option>
                  <% } %>
                </select>
                </form>
              </div>

            </div>

            <div class="row">
              <div class="span12">

                <!-- Trajectories plot -->
                <div class="accordion" id="plotTrajPred">
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#plotTrajPred" href="#plotTrajPredContent">Time series</a>
                    </div>

                    <div id="plotTrajPredContent" class="accordion-body collapse in">
                      <div class="accordion-inner">
                        <div id="graphTrajPred" class="plom-graph-forecast"></div>
                        <div id="tickState" class="tickGraph horizontal-scroll"></div>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- States plot and diffusions -->
                <div class="accordion" id="plotStatePred">
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#plotStatePred" href="#plotStatePredContent">State Variables</a>
                    </div>

                    <div id="plotStatePredContent" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div id="graphStatePred" class="plom-graph-forecast"></div>
                        <div id="tickState" class="tickGraph horizontal-scroll"></div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>


            <div class="row">
              <div class="span8">
                <form class="form-inline">
                  <select id="implPred">
                    <option value="ode">Ordinary differential equation</option>
                    <option value="sde">Stochastic differential equation</option>
                    <option value="psr">Poisson process</option>
                  </select>
                  Integration time step: <input type="text" id="sPred" class="input-small"> <span>unit</span>                    
                </form>
              </div>

              <div class="span4">
                <form class="form-inline social-action">
                  <div class="btn-group">
                    <button id="runPred" class="btn" type="button"><i class="icon-play"></i> Run</button>
                    <button id="stopPred" class="btn" type="button"><i class="icon-remove"></i> Stop</button>
                    <button id="resetPred" class="btn" type="button"><i class="icon-refresh"></i> Reset</button>
                  </div>
                </form>
              </div>
            </div>       

          </div><!-- end div#forecast -->



        </div>
      </div>
    </div>

    <hr/>

    <% include ../footer %>
