<% include ../layout %>

<script src="/javascripts/reviewer.js"></script>
<script src="/javascripts/PlomPred.js"></script>
<script src="/javascripts/PlomTs.js"></script>
<script src="/javascripts/parmatrix.js"></script>
<script src="/javascripts/corr.js"></script>
<script src="/javascripts/greenlights.js"></script>
<script src="/javascripts/density.js"></script>
<script src="/javascripts/trace.js"></script>
<script src="/javascripts/autocorr.js"></script>
<script src="/javascripts/control.js"></script>
<script src="/javascripts/forecast.js"></script>
<script src="/javascripts/review.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/plomGraphModel.js"></script>

</head>

<body>

  <div class="container">

    <div class="row">
      <div id="headerLogo" class="span4">
        <h1 class="muted">PLoM.io</h1>
        <p class="plom-brand"> Public Library of Models</p>
      </div>

      <ul id="plomNav" class="nav nav-pills">
        <li><a href="/<%= username %>"><%= username %></a></li>
        <li><a href="/library?<%= dquery %>"><%= context.disease.join('; ') %></a></li>
        <li><a href="/library?<%= cquery %>"><%= context.name %></a></li>
        <li class="active"><a href="#"><%= process.name + ' - ' + link.name %></a></li>
      </ul>
    </div>

    <div class="row">
      <div class="span12">
        
        <ul class="nav nav-tabs" id="reviewTab">
          <li class="active">
            <a href="#priors" data-toggle="tab">Priors</a>
          </li>
          <li>
            <a href="#review" data-toggle="tab">Review</a>
          </li>
          <li>
            <a href="#posteriors" data-toggle="tab">Posteriors</a>
          </li>
          <li>
            <a href="#forecast" data-toggle="tab">Forecasting</a>
          </li>
        </ul>
        
        <div class="tab-content">

          <!-- Priors -->
          <div class="tab-pane active" id="priors">

            <div class="row">
              <div class="span10">
                <h4><%= process.name  + ' - ' + link.name %></h4>
              </div>
              <div class="span2">
                <form>
                  <button class="btn pull-right" type="submit"><i class="icon-download"></i> Fork model</button>
                </form>
              </div>
            </div>

            <div class="row">
              <div class="span12"><% include priors %></div>
            </div>


          </div><!-- end div#priors -->


          <!-- review -->
          <div class="tab-pane" id="review">

            <!-- parameter list -->
            <div class="horizontal-scroll" data-toggle="buttons-radio" id="thetaList"><% include thetalist %></div>
            <hr/>

            <div class="row">
              <div class="span10">
                <h4>Traces</h4>
              </div>
              <div class="span2">
                <form>
                  <button class="btn pull-right" type="submit"><i class="icon-download"></i> Fork theta</button>
                </form>
              </div>
            </div>

            <div class="row">
              <div class="span12">
                <div id="greenlights"></div>                
              </div>
            </div>

            <!-- trace summary (templated) -->
            <div class="row" id="summaryTableContainer"><div class="span12" data-toggle="buttons-radio" id="summaryTable"></div></div>	      	

            <!-- Filtering -->
            <div id="filtering"><% include filtering %></div>

            <!-- Controls (templated) -->
            <div id="control"></div>

            <!-- Credibility intervals / Correlation / review tabs -->

            <ul class="nav nav-tabs" id="reviewTab">
              <li class="active">
                <a href="#cred" data-toggle="tab">Manual parameter exploration</a>
              </li>
              <li>
                <a href="#corr" data-toggle="tab">MCMC summaries</a>
              </li>
              <li>
                <a href="#reviewReview" data-toggle="tab">Review</a>
              </li>
            </ul>
            
            <div class="tab-content">

              <!-- cred (templated) -->
              <div class="tab-pane active" id="cred">

              </div>

              <!-- corr -->
              <div class="tab-pane" id="corr">
                    <div class="row" id="diagPlots"><% include diagnostics %></div>
              </div>

              <!-- reviewReview -->
              <div class="tab-pane" id="reviewReview">
                <div class="row" id="rowReviewTheta">
                  <div class="span10">
                    <h3>Reviews</h3>
                    <div id="threadTheta"></div>
                    <% include theta %>
                  </div>
                  <div class="span2">
                    stats
                  </div>
                </div>
              </div>

            </div>

          </div> <!-- end div#review -->


          <!-- Posteriors -->
          <div class="tab-pane" id="posteriors"></div>

          
          <!-- Forecasting -->
          <div class="tab-pane" id="forecast"><% include forecast %></div>



        </div>
      </div>
    </div>

    <hr/>

    <% include ../footer %>
