<% include ../layout %>

<script src="/javascripts/reviewer.js"></script>
<script src="/javascripts/PlomPred.js"></script>
<script src="/javascripts/PlomTs.js"></script>
<script src="/javascripts/parmatrix.js"></script>
<script src="/javascripts/corr.js"></script>
<script src="/javascripts/greenlights.js"></script>
<script src="/javascripts/density.js"></script>
<script src="/javascripts/trace.js"></script>
<script src="/javascripts/autocorr.js"></script>
<script src="/javascripts/view.js"></script>
<script src="/javascripts/test.js"></script>
<script src="/javascripts/review.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/plomGraphModel.js"></script>

</head>

<body>

  <div class="container">

    <div class="row">
      <div id="headerLogo" class="span4">
        <h1 class="muted">PLoM.io</h1>
        <p class="plom-brand"> Public Library of Models</p>
      </div>

      <ul id="plomNav" class="nav nav-pills">
        <li><a href="/library"><%= context.disease.join('; ') %></a></li>
        <li><a href="/library"><%= context.name %></a></li>
        <li class="active"><a href="#"><%= process.name + ' - ' + link.name %></a></li>
      </ul>
    </div>

    <div class="row">
      <div class="span12">
        
        <ul class="nav nav-tabs" id="reviewTab">
          <li class="active">
            <a href="#priors" data-toggle="tab">Priors</a>
          </li>
          <li>
            <a href="#review" data-toggle="tab">Review</a>
          </li>
          <li>
            <a href="#posteriors" data-toggle="tab">Posteriors</a>
          </li>
          <li>
            <a href="#forecast" data-toggle="tab">Forecasting</a>
          </li>
        </ul>
        
        <div class="tab-content">

          <!-- Model -->
          <div class="tab-pane active" id="priors">

            <div class="row">
              <div class="span10">
                <h4><%= process.name  + ' - ' + link.name %></h4>
              </div>
              <div class="span2">
                <form>
                  <button class="btn social-action" type="submit"><i class="icon-download"></i> Fork model</button>
                </form>
              </div>
            </div>

            <div class="row">
              <div class="span12"><% include priors %></div>
            </div>


          </div><!-- end div#model -->


          <!-- review -->
          <div class="tab-pane" id="review">

            <!-- parameter list -->
            <div class="horizontal-scroll" data-toggle="buttons-radio" id="thetaList"><% include thetalist %></div>
            <hr/>

            <div class="row">
              <div class="span10">
                <h4>Traces</h4>
              </div>
              <div class="span2">
                <form>
                  <button class="btn social-action" type="submit"><i class="icon-download"></i> Fork theta</button>
                </form>
              </div>
            </div>



            <div class="row">
              <div class="span12">
                <div id="greenlights"></div>                
              </div>
            </div>


            <!-- Summary table (templated) -->
            <div class="row" id="summaryTableContainer"><div class="span12" data-toggle="buttons-radio" id="summaryTable"></div></div>	      	


            <!-- Filtering -->
            <div id="filtering"><% include filtering %></div>

            <!-- Controls (templated) -->
            <div id="control"></div>

            <!-- Credibility intervals / Correlation / review tabs -->

            <ul class="nav nav-tabs" id="reviewTab">
              <li class="active">
                <a href="#cred" data-toggle="tab">Manual parameter exploration</a>
              </li>
              <li>
                <a href="#corr" data-toggle="tab">MCMC summaries</a>
              </li>
              <li>
                <a href="#reviewReview" data-toggle="tab">Review</a>
              </li>
            </ul>
            
            <div class="tab-content">

              <!-- cred (templated) -->
              <div class="tab-pane active" id="cred">

              </div>

              <!-- corr -->
              <div class="tab-pane" id="corr">
                    <div class="row" id="diagPlots"><% include diagnostics %></div>
              </div>

              <!-- reviewReview -->
              <div class="tab-pane" id="reviewReview">
                <div class="row" id="rowReviewTheta"><% include theta %></div>
              </div>

            </div>

          </div> <!-- end div#theta -->


          <!-- Forecasting -->
          <div class="tab-pane" id="posteriors">

          </div>

          
          <!-- Forecasting -->
          <div class="tab-pane" id="forecast">

            <div class="row">
              <div class="span8">
                <h4>Forecast</h4>
              </div>
              <div class="span4">
                <form class="form-inline social-action">
                Forecast after the data for:
                <select id="nExtra" class="input-small">
                  <% for(var i=0; i<11; i++){ %>
                  <option value="<%= i %>"> <%= i %> years</option>
                  <% } %>
                </select>
                </form>
              </div>

            </div>


            <div class="row">
              <div class="span12">

                <!-- Trajectories plot -->
                <div class="accordion" id="plotTrajPred">
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#plotTrajPred" href="#plotTrajPredContent">Time series</a>
                    </div>

                    <div id="plotTrajPredContent" class="accordion-body collapse in">
                      <div class="accordion-inner">
                        <div id="graphTrajPred" class="plom-graph-forecast"></div>
                        <div id="tickState" class="tickGraph horizontal-scroll"></div>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- States plot and diffusions -->
                <div class="accordion" id="plotStatePred">
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#plotStatePred" href="#plotStatePredContent">State Variables</a>
                    </div>

                    <div id="plotStatePredContent" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div id="graphStatePred" class="plom-graph-forecast"></div>
                        <div id="tickState" class="tickGraph horizontal-scroll"></div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>


            <div class="row">
              <div class="span12">
                <form class="form-inline">
                  <select id="implPred">
                    <option value="ode">Ordinary differential equation</option>
                    <option value="sde">Stochastic differential equation</option>
                    <option value="psr">Poisson process</option>
                  </select>

                  <label class="control-label" for="sPred">Integration time step: </label>
                  <div class="input-append">
                    <input type="text" id="sPred" class="input-mini">
                    <span class="add-on">unit</span>
                  </div>


                  <div class="btn-group pull-right">
                    <button id="runPred" class="btn" type="button"><i class="icon-play"></i> Run</button>
                    <button id="stopPred" class="btn" type="button"><i class="icon-remove"></i> Stop</button>
                    <button id="resetPred" class="btn" type="button"><i class="icon-refresh"></i> Reset</button>
                  </div>

                </form>
              </div>
            </div>       

          </div><!-- end div#forecast -->



        </div>
      </div>
    </div>

    <hr/>

    <% include ../footer %>
