<% include ../layout %>

<script src="/javascripts/PlomTs.js"></script>
<script src="/javascripts/parmatrix.js"></script>
<script src="/javascripts/corr.js"></script>
<script src="/javascripts/density.js"></script>
<script src="/javascripts/trace.js"></script>
<script src="/javascripts/autocorr.js"></script>
<script src="/javascripts/view.js"></script>
<script src="/javascripts/review.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/plomGraphModel.js"></script>

</head>

<body onload="prettyPrint()">

  <div class="container">

    <div class="row">
      <div id="headerLogo" class="span4">
        <h1 class="muted">PLoM.io</h1>
        <p class="plom-brand"> Public Library of Models</p>
      </div>

      <ul id="plomNav" class="nav nav-pills">
        <li><a href="/library"><%= context.disease.join('; ') %></a></li>
        <li><a href="/library"><%= context.name %></a></li>
        <li class="active"><a href="/library"><%= process.name + ' - ' + link.name %></a></li>
      </ul>
    </div>

    <div class="row">

      <div class="social-action">

        <form>
          <button class="btn" type="submit"><i class="icon-download"></i> Fork</button>
        </form>


      </div>

    </div>


    <div class="row">
      <div class="span12">

        <!-- parameter list (templated) -->
        <div class="horizontal-scroll" data-toggle="buttons-radio" id="thetaList"></div>

        <hr/>
        


        <ul class="nav nav-tabs" id="reviewTab">
          <li class="active">
            <a href="#theta" data-toggle="tab">Results</a>
          </li>
          <li>
            <a href="#model" data-toggle="tab">Model</a>
          </li>
        </ul>
        
        <div class="tab-content">

          <div class="tab-pane active" id="theta">


            <!-- Summary table (templated) -->
            <div class="accordion" id="accSummaryTable">
              <div class="accordion-group">
                <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accSummaryTable" href="#accSummaryTableContent">Traces summary</a></div>

                <div id="accSummaryTableContent" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <div class="row"><div class="span12" data-toggle="buttons-radio" id="summaryTable"></div></div>	      	
                  </div>
                </div>
              </div>
            </div>

            <!-- plots -->
            <div class="accordion" id="accDiagPlots">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accDiagPlots" href="#accDiagPlotsContent">Diagnostic plots</a>
                </div>

                <div id="accDiagPlotsContent" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div class="row" id="diagPlots"><% include diagnostics %></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Filtering -->
            <div class="accordion" id="accFiltering">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accFiltering" href="#accFilteringContent">Simulation and filtering</a>
                </div>

                <div id="accFilteringContent" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div class="row" id="filtering"><% include filtering %></div>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Review zone -->
            <div class="accordion" id="accReview">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accReview" href="#accReviewContent">Reviews</a>
                </div>

                <div id="accReviewContent" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div class="row" id="rowReviewTheta"><% include theta %></div>
                  </div>
                </div>
              </div>
            </div>

            <hr/>

          </div> <!-- end div#theta -->


          <!-- Model review -->
          <div class="tab-pane" id="model">

            <div class="row">
              <div class="span12">

                <h2>Context</h2>

                <%= context.description|| '' %>

                <h2>Model</h2>

                <h3>Process Model</h3>

                <!-- placeholder for d3 viz of compartmental model -->
                <div id="pgraph<%= link._id %>" class="process-graph"></div>


                <h3>Observation Model</h3>

                
                <% link.observed.forEach(function(o){ %>
                <%= o.id %>:

                <ul>
                  <li> definition: 
                    <% if(typeof o.definition[0] === 'string'){ %>
                    
                    <%= o.definition.join(' + ') %>

                    <% } else { %>

                    <%= o.definition.map(function(d){ return d.from + '->' + d.to;}).join(' + ') %>

                    <% } %>
                  </li>

                  <li>
                    mapped to: <%= o.time_series_id.map(function(x){return x.split('__').slice(0,2).join(':')}).join(' ; ') %>
                  </li>

                  <li>
                    model: <%= link.model[o.model_id].distribution %>

                    <ul>
                      <% for(var p in link.model[o.model_id]){ %>
                      <% if(p !== 'distribution'){ %>
                      <li>
                        <%= p %>: <%= link.model[o.model_id][p] %>
                      </li>
                      <% } %>
                      <% } %>
                    </ul>
                  </li>
                </ul>

                <hr/>    
                <% }); %>


                <h2>Prior</h2>
                
                

              </div>
            </div>




            <!-- Feedback zone -->
            <div class="row">
              <div class="span7"><h3>Feedback</h3></div>

              <div class="span5">
                <h3>Add</h3>

                <form id="formFeedbackModel" action="/feedbackmodel">
                  <label for="feedbackModel">Provide feedback on the model and its adequation to the context</label>
                  <textarea id="feedbackModel" rows="3" class="span5"></textarea>
                  <p>
                    <button class="btn btn-success" type="button">Validate</button>
                    <button class="btn btn-danger" type="button">Not convincing</button>
                  </p>
                </form>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <% include ../footer %>
