<% include layout %>

<a href="https://github.com/plom"><img style="position:absolute; top:42px; right:0;  border: 0;" src="images/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<div class="row">

  <div class="span5" style="background:url(images/logo-large.png) no-repeat right center; background-size: auto 80px;">
    <h1>PLoM.io</h1>
    <p class="sfr-brand"> Public Library of Models</p>
  </div>

</div>


<section>


  <form>
    <div class="input-append">
      <input type="text" name="q" class="input-xlarge"/>
      <button type="submit" class="btn">Search</button>
    </div>
  </form>

  <div class="app-folders-container"> 


    <!-- the contexts -->
    <% ctree.forEach(function(c, i){ %>

    <% if ( (i%3) === 0 ){ %>
    <div class="jaf-row jaf-container">
    <% } %>

    <div class="folder context-box" id="<%= c._id %>">

      <a href="#"><%= c.disease.join('; ') + ' / ' + c.name %></a>

      <p>
        <%= c.model.length %> model<%= (c.model.length > 1) ? 's': ''%>; <%= (c.contributor && c.contributor.length) || 0 %> contributor<%= (c.contributor && (c.contributor.length > 1)) ? 's': '' %>
      </p>

      <!-- placeholder for timeseries plot -->
      <div id="graphdiv<%= i %>" class="context-graph"></div>

      <select id="ts-picker-<%= i %>"  class="ts-picker">
        <option value="-1">All time series</option>
        <% c.time_series.forEach(function(ts, indts){ %>
        <option value="<%= indts %>"><%= ts.id.split('__').join('; ') %></option>
        <% }); %>
      </select>

      <p>
        <%=: c.description | truncate:30 %>
      </p>

    </div>

    <% if (((i+1) %3) === 0  || i === 4){ %>
    </div>
    <% } %>
    <% }); %>

    <!-- the models -->
    <% ctree.forEach(function(c, i){ %>
    <div class="folderContent <%= c._id %>">
      <div class="jaf-container">        

        <div class="horizontal-scroll">
          <% c.model.forEach(function(m, j){ %>
          <div class="model-box">
            
            <a href="#"><%= m.process.name + ' / ' + m.link.name   %></a>

            <!-- placeholder for d3 viz of compartmental model -->
            <div id="pgraph<%= m.process._id %>" class="process-graph"></div>
            
            <div>score: <%= m.theta && m.theta.score %></div>
            
            <div class="parameter-box">
              <% if (m.theta && m.theta.value) { %>
              <ul>                     
                <% m.process.parameter.concat(m.process.state, m.link.parameter).forEach(function(par){  %>
                <% if (par.id in m.theta.value) { %>
                <li>
                  <a href="#" class="plom-tooltip" data-placement="left" rel="tooltip" data-original-title="<%= m.theta.value[par.id].comment %>"><%= par.id %></a> :
                    
                  <% if(Object.keys(m.theta.value[par.id].guess).length >1 ) {%>
                  <ul>
                    <% for (var group in m.theta.value[par.id].guess) { %>
                    <li><%= group.split('__').join('; ') %> = <%= m.theta.value[par.id].guess[group] %> </li>
                    <% }; %>
                  </ul>
                  <% } else { %>
                  <%= m.theta.value[par.id].guess[Object.keys(m.theta.value[par.id].guess)[0]] %>
                  <% }; %>
                </li>
                <% }; %>
                <% }); %>
              </ul>
              <% }; %>
            </div>

            Involved in:
            <div class="related-box">
              <ul>
                <% m.process.related.forEach(function(x){ %>
                <li><a href="#"><%= x %></a></li>
                <% }); %>
              </ul>
            </div>

          </div>
          <% }); %>
        </div>
      </div>
      <% }); %>
    </div>

  </div>


</section>



<% include footer %>
