<% include layout %>

<script>
$(document).ready(function() {
$('#socTabs a:first').tab('show');
});
</script>

<% include header %>

<hr>

<% if(username !== params.username) { %>
  <form id="follow" action="/follow/user" method="post" class="pull-right">
    <input type="hidden" name="_csrf" value="<%= token %>"/>
    <input type="hidden" name="user_id" value="<%= params.username %>"/>
    <% var is_followed = user.user_id &&  (user.user_id.indexOf(params.username) !== -1); %>
    <input type="hidden" name="action" value="<%= (is_followed) ? 'unfollow': 'follow' %>"/>
    <button class="btn" type="submit"><i class="icon-eye-open"></i> <span><%= (is_followed) ? 'Unfollow': 'Follow' %></span></button>
  </form>
<% } %>


<div class="row">
  <div class="span3">
    <img data-src="holder.js/210x210" class="img-polaroid">		

    <h3><%= params.username %></h3>

    <hr>
    <p>Joined on DATE.</p>  
    <p>Latest activity on DATE.</p>
    <hr>

    <div class="row">
      <div class="span1">
	<p><strong>3</strong><small><br>Followers</small></p>
      </div>
      <div class="span1 offset1">
	<p><strong>5</strong><small><br>Following</small></p>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="span8 offset1">
      <ul class="nav nav-tabs" id="socTabs">
  	<li class="active"><a href="#events" data-toggle="tab">Events</a></li>
  	<li><a href="#context" data-toggle="tab">Context</a></li>
  	<li><a href="#models" data-toggle="tab">Models</a></li>
  	<li><a href="#thetas" data-toggle="tab">Thetas</a></li>
  	<li><a href="#reviews" data-toggle="tab">Reviews</a></li>
      </ul>
      
      <div class="tab-content">

	<div class="tab-pane active" id="events">
	  <% if(events && events.length){ %>
	  <% events.forEach(function(e, i){ %>

	  <a href="/<%= e.from %>"><%= e.from %></a>
	  
	  <%= e.type %> 

	  <%= e.option %> 

	  <a href="#"><%= e.name %></a>
          
	  <%= e._id.getTimestamp() %>

	  <hr/>    

	  <% }) %>
	  <% } else { %>
	  Nothing happened...
	  <% } %>
	</div>

	<div class="tab-pane" id="context">
	  
	  <% if(contexts && contexts.length){ %>
	  
	  <% contexts.forEach(function(context){ %>
	  
	  <%= context.disease.join('; ') + ' / ' +  context.name %>
	  <%= context._id.getTimestamp() %>
	  
	  <% }); %>        
	  
	  <% } else { %>
	  0 context published
	  <% } %>			
	</div>

	<div class="tab-pane" id="models">
	  <% if(models && models.length){ %>
	  
	  <% models.forEach(function(model){ %>
	  
	  <%= model.context_disease.join('; ') + ' / ' +  model.context_name + ' / ' + model.process_name + ' - ' + model.name %>
	  <%= model._id.getTimestamp() %>
	  
	  <% }); %>
	  
	  <% } else { %>
	  0 model published
	  <% } %>
	</div>

	<div class="tab-pane" id="thetas">
	  <% if(thetas && thetas.length){ %>
	  
	  <% thetas.forEach(function(theta){ %>
	  
	  <%= theta.context_disease.join('; ') + ' / ' +  theta.context_name + ' / ' + theta.process_name + ' - ' + theta.link_name %>
	  <%= theta._id.getTimestamp() %>
	  
	  <% }); %>        
	  
	  <% } else { %>
	  0 theta published
	  <% } %>
	</div>

	<div class="tab-pane" id="reviews">
	  
	  <% if(reviews && reviews.length){ %>
	  
	  <% reviews.forEach(function(review){ %>
	  
	  <%= review.name %>
	  <%= review._id.getTimestamp() %>
	  
	  <% }); %>
	  
	  <% } else { %>
	  0 review published
	  <% } %>
	  
	</div>
	
      </div>
      
    </div>
  </div>
  
</div>

<hr />
<% include footer %>
