<% include layout %>

<script>
  $(document).ready(function() {
  $('#socTabs a:first').tab('show');
  });
</script>

<% include header %>

<hr>

<% if(username !== params.username) { %>
<form id="follow" action="/follow/user" method="post" class="pull-right">
  <input type="hidden" name="_csrf" value="<%= token %>"/>
  <input type="hidden" name="username" value="<%= params.username %>"/>
  <% var is_followed = user.user_id &&  (user.user_id.indexOf(params.username) !== -1); %>
  <input type="hidden" name="action" value="<%= (is_followed) ? 'unfollow': 'follow' %>"/>
  <button class="btn" type="submit"><i class="icon-eye-open"></i> <span><%= (is_followed) ? 'Unfollow': 'Follow' %></span></button>
</form>
<% } %>


<div class="row">
  <div class="span3">
    <img data-src="holder.js/210x210" class="img-polaroid">		

    <h3><%= params.username %></h3>

    <hr>
    <p>Joined on <%= user.date.toDateString() %></p>  
    <% if(events && events.length){ %>
    <p>Latest activity on <%= events[0]._id.getTimestamp().toDateString() %></p>
    <% } else { %>
    <p>No activity.</p>
    <% } %>
    <hr>

    <div class="row">
      <div class="span1">
	<p><strong>3</strong><small><br>Followers</small></p>
      </div>
      <div class="span1 offset1">
	<p><strong><%= (user.user_id && user.user_id.length) || 0 %></strong><small><br>Following</small></p>
      </div>
    </div>

  </div> <!--span3-->

  <div class="span8 offset1">
    <h3>Interest</h3>
    <% if (interests && interests.length) { %>
    <ul>
      <% interests.forEach(function(disease){ %>
      <li><a href="<%=: disease | dhref %>"><%= disease %></a></li>
      <% }) %>           
    </ul>
    <% } else { %>    
    <p>0 context followed.</p>
    <% } %>
  </div>
  
  <div class="span8 offset1">
    <h3>Activity</h3>
    <ul class="nav nav-tabs" id="socTabs">
      <li class="active"><a href="#events" data-toggle="tab">Events</a></li>
      <li><a href="#context" data-toggle="tab">Context (<%= contexts.length || 0 %>)</a></li>
      <li><a href="#models" data-toggle="tab">Models (<%= models.length || 0 %>)</a></li>
      <li><a href="#results" data-toggle="tab">Results (<%= thetas.length || 0 %>)</a></li>
      <li><a href="#reviews" data-toggle="tab">Reviews (<%= reviews.length || 0 %>)</a></li>
    </ul>
    
    <div class="tab-content">

      <div class="tab-pane active" id="events">
	<% if(events.length){ %>
	<% events.forEach(function(e, i){ %>

        <span class="<%=: e | elabel %>"><%= e.category %></span>

	<a href="/<%= e.from %>"><%= e.from %></a> <%= e.verb %> 

        <% if(e.type !== 'user'){ %>
        <%= e.type %>
        <% } else { %>
        <a href="/<%= e.username %>"><%= e.username %></a>
        <% } %>

        <% if('parameter' in e){ %><%= e.parameter %><% } %>

        <% if('disease' in e){ %>
        <a href="<%=: e | dhref %>"><%= e.disease.join('; ') %></a>
        <% } %>

        <% if ('context_name' in e){ %>
        / <a href="<%=: e | chref %>"> <%= e.context_name %></a>
        <% } %>

        <% if('link_name' in e){ %>
        / <a href="<%=: e | lhref %>">
          <%= e.process_name %> - <%= e.link_name %> 
        </a>
        <% } %>

       	<span class="muted"><%= e._id.getTimestamp().toDateString() %></span>

	<hr/>    

	<% }) %>
	<% } else { %>
	Nothing happened...
	<% } %>
      </div>

      <div class="tab-pane" id="context">
	
	<% if(contexts.length){ %>

	<ul>
	<% contexts.forEach(function(context){ %>	
        <li>
          <a href="<%=: context | dhref %>"><%= context.disease.join('; ') %></a>
          / <a href="<%=: context | chref %>"> <%= context.name %></a>
	  <span class="muted"><%= context._id.getTimestamp().toDateString() %></span>
	</li>
	<% }); %>        
        </ul>
	
	<% } else { %>
	0 context.
	<% } %>			
      </div>

      <div class="tab-pane" id="models">
	<% if(models.length){ %>
	<ul>
	  <% models.forEach(function(model){ %>
          <li>
            <a href="<%=: model | dhref %>"><%= model.context_disease.join('; ') %></a>
            / <a href="<%=: model | chref %>"> <%= model.context_name %></a>
            / <a href="<%=: model | lhref %>"><%= model.process_name %> - <%= model.name %></a>
	    <span class="muted"><%= model._id.getTimestamp().toDateString() %></span>
	  </li>
	  <% }); %>
        </ul>
	
	<% } else { %>
	0 models.
	<% } %>
      </div>

      <div class="tab-pane" id="results">
	<% if(thetas.length){ %>
	<ul>
	  <% thetas.forEach(function(theta){ %>
          <li>
            <a href="<%=: theta | dhref %>"><%= theta.context_disease.join('; ') %></a>
            / <a href="<%=: theta | chref %>"> <%= theta.context_name %></a>
            / <a href="<%=: theta | lhref %>"><%= theta.process_name %> - <%= theta.link_name %></a>
	    <span class="muted"><%= theta._id.getTimestamp().toDateString() %></span>
	  </li>
	  <% }); %>        
	</ul>
	<% } else { %>
	0 results.
	<% } %>
      </div>

      <div class="tab-pane" id="reviews">
	
	<% if(reviews.length){ %>

	<ul>
	<% reviews.forEach(function(review){ %>
	<li>
	  <%= (review.type === 'theta') ? 'results' : review.type  %>
          
          <% if('parameter' in review){ %><%= review.parameter %><% } %>

            <a href="<%=: review | dhref %>"><%= review.disease.join('; ') %></a>
            / <a href="<%=: review | chref %>"> <%= review.context_name %></a>
            / <a href="<%=: review | lhref %>"><%= review.process_name %> - <%= review.link_name %></a>

	  <span class="muted"><%= review._id.getTimestamp().toDateString() %></span>	 
        </li>
	<% }); %>
        </ul>	
	<% } else { %>
	0 reviews.
	<% } %>
	
      </div>
      
    </div>
    
  </div>

  
</div>

<hr />
<% include footer %>
