<% include layout %>

<% include header %>


<hr>
<div class="social-action">
    <form id="FollowedUser" action="/Followeduser" method="post">
    <input type="hidden" name="_csrf" value="<%= token %>"/>
    <button class="btn" type="submit" name="action" value="unFollowed"><i class="icon-eye-open"></i> <span>Followed</span></button>
    </form>
</div>
<div class="container">	
	<div class="row">
		<div class="span4">
			<img src="http://placehold.it/210x210" class="img-polaroid">		
			<h3><%= username %></h3>
			<hr style="width:80%">
			<p>Joined on DATE.</p>  
			<p>Latest posting on DATE.</p>
			<div class="row">
				<div class="span4">
					<hr style="width:80%">
				</div>
			</div>
			<div class="row">
				<div class="span2">
					<p><strong>3</strong><small><br>Followers</small></p>
				</div>
				<div class="span2">
					<p><strong>5 
					</strong><small><br>Following</small></p>
				</div>
			</div>

		</div>
		<div class="span8">
			<h3>Activity Summary</h3><br>
			<div class="row">
				<div class="span2">
					<h4>Context</h4>
				</div>
				<div class="span2 create">
					<h5><%= contexts.length %> <small>Created</small></h5>
				</div>
				<div class="span2 follow">
					<h5><%= user.context_id.length %> <small>Followed</small></h5>
				</div>
				<div class="span2 comment">
					<h5>10 <small>Commented</small></h5>
				</div>
				
			</div>

			<div class="row">
				<div class="span2">
					<h4>Model</h4>
				</div>
				<div class="span2 create">
					<h5><%= models.length %> <small>Created</small></h5>
				</div>
				<div class="span2 follow">
					<h5>2 <small>Followed</small></h5>
				</div>
				<div class="span2 comment">
					<h5>10 <small>Commented</small></h5>
				</div>
			</div>
			
			<div class="row">
				<div class="span2">
					<h4>Theta</h4>
				</div>
				<div class="span2 create">
					<h5><%= thetas.length %> <small>Created</small></h5>
				</div>
				<div class="span2 follow">
					<h5>2 <small>Followed</small></h5>
				</div>
				<div class="span2 comment">
					<h5>10 <small>Commented</small></h5>
				</div>
			</div>
			
			<div class="row">
				<div class="span2">
					<h4>Review</h4>
				</div>
				<div class="span2 create">
					<h5><%= reviews.length %> <small>Created</small></h5>
				</div>
				<div class="span2 follow">
					<h5>2 <small>Followed</small></h5>
				</div>
				<div class="span2 comment">
					<h5>10 <small>Commented</small></h5>
				</div>
			</div><br><br><br>
			
			<div class="row">
				<div class="span8">
					<ul class="nav nav-tabs" id="socTabs">
  						<li class="active"><a href="#Social" data-toggle="tab">Social</a></li>
  						<li><a href="#Context" data-toggle="tab">Context</a></li>
  						<li><a href="#Models" data-toggle="tab">Models</a></li>
  						<li><a href="#Thetas" data-toggle="tab">Thetas</a></li>
  						<li><a href="#Reviews" data-toggle="tab">Reviews</a></li>
					</ul>
					
					<div class="tab-content">
						<div class="tab-pane active" id="Social">
						    <% if(events && events.length){ %>
						    <% events.forEach(function(e, i){ %>

						    <a href="/<%= e.from %>"><%= e.from %></a>
						    
						    <%= e.type %> 

						    <%= e.option %> 

						    <a href="#"><%= e.name %></a>

						    <%= e._id.getTimestamp() %>

						    <hr/>    

						    <% }) %>
						    <% } else { %>
						    Nothing happened...
						    <% } %>
						</div>

						<div class="tab-pane" id="Context">
						
						<% if(contexts && contexts.length){ %>
						    
						        <% contexts.forEach(function(context){ %>
						        
						          <%= context.disease.join('; ') + ' / ' +  context.name %>
						          <%= context._id.getTimestamp() %>
						       
						        <% }); %>        
						    
						      	<% } else { %>
						      	0 context published
						      	<% } %>			
						</div>
						<div class="tab-pane" id="Models">
							<% if(models && models.length){ %>
						    
						        <% models.forEach(function(model){ %>
						      
						          <%= model.context_disease.join('; ') + ' / ' +  model.context_name + ' / ' + model.process_name + ' - ' + model.name %>
						          <%= model._id.getTimestamp() %>
						        
						        <% }); %>
						    
						      <% } else { %>
						      0 model published
						      <% } %>
						</div>
						<div class="tab-pane" id="Thetas">
							<% if(thetas && thetas.length){ %>
							      
							        <% thetas.forEach(function(theta){ %>
							       
							          <%= theta.context_disease.join('; ') + ' / ' +  theta.context_name + ' / ' + theta.process_name + ' - ' + theta.link_name %>
							          <%= theta._id.getTimestamp() %>
							        
							        <% }); %>        
							      
							      <% } else { %>
							      0 theta published
							      <% } %>
						</div>
						<div class="tab-pane" id="Reviews">
						
						<% if(reviews && reviews.length){ %>
						    
						      <% reviews.forEach(function(review){ %>
						      
						        <%= review.name %>
						        <%= review._id.getTimestamp() %>
						      
						        <% }); %>
						    
						      <% } else { %>
						      0 review published
						      <% } %>
	
						</div>
						
					</div>
					
				</div>
			</div>
			
		</div>
		
	</div>

</div>