<a href="#"><%=: c | nameContext %></a>

<div>
  <%= c.model.length %> model<%= (c.model.length > 1) ? 's': ''%>
  <a href="/requests/<%= c._id %>" class="btn btn-mini social-action"><i class="icon-bullhorn"></i> Requests </a>
</div>

<!-- placeholder for timeseries plot -->
<div id="graph_<%= c._id %>" class="context-graph"></div>


<select id="tsPicker_<%= c._id %>"  class="ts-picker">
  <option value="-1">All time series</option>
  <% c.time_series.forEach(function(ts, indts){ %>
  <option value="<%= indts %>"><%= ts.id.split('__').join('; ') %></option>
  <% }); %>
</select>

<!--<p><%=: c.description | truncate:30 %></p>-->

