<div class="horizontal-scroll">

  <% c.model.forEach(function(m, j){ %>
  <div class="model-box">
    <a href="#"><%= m.process.name + ' - ' + m.link.name %></a>
    <!-- placeholder for d3 viz of compartmental model -->
    <div id="pgraph_<%= c._id %>_<%= m.process._id %>" class="process-graph"></div>

    <!-- score (DIC or AICc or rating) -->
    <% if (m.theta) { %>
    <div class="score">
      <% if ('dic' in m.theta) { %>
      DIC: <span><%= m.theta.dic %></span>
      <% }; %>
    </div>
    <% }; %>

    <form action="/fork/model" method="POST" class="explore">
      <input type="hidden" name="context_id" value="<%= c._id %>" />
      <input type="hidden" name="process_id" value="<%= m.process._id %>" />
      <input type="hidden" name="link_id" value="<%= m.link._id %>" />
      <input type="hidden" name="theta_id" value="<%= m.theta._id %>" />
      <input type="hidden" name="_csrf" value="<%= token %>"/>
      <input class="btn" type="submit" value="Fork" />
    </form>

    <form action="/library" method="POST" class="explore">
      <input type="hidden" name="context_id" value="<%= c._id %>" />
      <input type="hidden" name="process_id" value="<%= m.process._id %>" />
      <input type="hidden" name="link_id" value="<%= m.link._id %>" />
      <input type="hidden" name="_csrf" value="<%= token %>"/>
      <input class="btn" type="submit" value="Review" />
    </form>            
    
    <div class="parameter-box">
      <% if (m.posterior) { %>

      <% ['process', 'observation', 'state'].forEach(function(type){  %>
      <ul>
        <% Object.keys(m.posterior[type]).sort().forEach(function(par){  %>
        <li>
          <a href="#" class="plom-tooltip" data-placement="right" rel="tooltip" data-original-title="<%= m.posterior[type][par].caption %>"><%= par %></a> :          
          <ul>
            <% for (var group in m.posterior[type][par]['group']) { %>
            <li class="prior">
              <span><%= group.split('__').join('; ') %>:</span>
              <span><%= m.posterior[type][par]['group'][group]['min'].toPrecision(3) %></span>
              <span class="inlinesparkline"><%= m.posterior[type][par]['group'][group]['empirical']['trace'].join(',') %></span>             
              <span><%= m.posterior[type][par]['group'][group]['max'].toPrecision(3) %></span>
            </li>
            <% }; %>
          </ul>
        </li>
        <% }); //end forEach par %>
      </ul>

      <% }); //forEach on type %>
      <% } //if %>
    </div> <!-- parameter box -->



    Involved in:
    <div class="related-box">
      <ul>
        <% m.process.related.forEach(function(x){ %>
        <li><a href="#"><%= x %></a></li>
        <% }); %>
      </ul>
    </div> <!-- related box -->

  </div>  <!-- model box -->
  <% }); %>


</div>  <!-- horizontal scroll -->
