<div id="slider" class="hidden"></div>

<div class="row">


  <% [
     {val:p.parameter, title:'Process'},
     {val:l.observation[0].parameter, title:'Observation'},
     {val:p.state, title: 'Initial Conditions'}
     ].forEach(function(type){ %>

  <div class="span4">

    <h4><%= type.title %></h4>

    <table>
      <tr>
        <th></th>
        <th>q5</th>
        <th>value</th>
        <th>q95</th>
      </tr>

      <% type.val.forEach(function(par){ %>
      <% if (par.id in t.parameter) { %>
      <% for(var group in t.parameter[par.id].group){ %>
      <tr>
        <td><%= par.id %>: <%= group.split('__').join('; ') %></td>
        <td><input type="text" readonly="readonly" name="<%= par.id %>___<%= group %>___min"   value="<%= t.parameter[par.id]['group'][group]['min']['value'] %>"   class="input-mini theta" /></td>
        <td><input type="text" name="<%= par.id %>___<%= group %>___guess" value="<%= t.parameter[par.id]['group'][group]['guess']['value'] %>" class="input-mini theta guess" /></td>
        <td><input type="text" readonly="readonly" name="<%= par.id %>___<%= group %>___max"   value="<%= t.parameter[par.id]['group'][group]['max']['value'] %>"   class="input-mini theta" /></td>

      </tr>
      <% } }; });  %>
    </table>

  </div>

  <% }); %>

</div>
