<div id="slider" class="hidden"></div>

<div class="row">

  <% [
     {val: posterior.process, title:'Process'},
     {val: posterior.observation, title:'Observation'},
     {val: posterior.state, title: 'Initial Conditions'}
     ].forEach(function(type){ %>

  <div class="span4">

    <h4><%= type.title %></h4>

    <table>
      <tr>
        <th></th>
        <th>lower</th>
        <th>value</th>
        <th>upper</th>
      </tr>

      <% for(var par in type.val){ 
         var caption = type.val[par].caption;
         for(var group in type.val[par]['group']){ 
         var p = type.val[par]['group'][group] 
         %>

      <tr>       
        <td><a href="#" data-toggle="tooltip" data-placement="top" title="<%= caption %>"><%= par %>: <%= group.split('__').join('; ') %></a></td>
        <td><input type="text" readonly="readonly" name="<%= par %>___<%= group %>___min"   value="<%= p.min %>"   class="input-mini theta" /></td>
        <td><input type="text" name="<%= par %>___<%= group %>___guess" value="<%= theta.parameter[par]['group'][group]['guess']['value'] %>" class="input-mini theta guess" /></td>
        <td><input type="text" readonly="readonly" name="<%= par %>___<%= group %>___max"   value="<%= p.max %>"   class="input-mini theta" /></td>

      </tr>
      <%  } }; %>
    </table>

  </div>

  <% }); %>

</div>
