<% reviews.forEach(function(review, i){ %>
<div class="row">
  <div class="span6">
    <ul>

      <li>
        <a href="/<%= review.username %>"><%= review.username %></a> 
        <span class="label label-<%= (review.status === 'validated') ? 'success': 'important' %>"><%= (review.status === 'validated') ? 'validated': 'rejected' %></span> 
        <span class="muted"><%= new Date(review.date).toDateString() %></span>
      </li>

      <% if (review.vizbit){ %>
      <li><a class="vizbitFetch" href="/vizbit/<%= review._id %>" data-view="#filtering">run</a></li>
      <% } %>

      <% if (review.body){ %>
      <li><%= review.body %></li>      
      <% } %>

    </ul>
    
    <div class="offset05">

      <% if(review.comments) { review.comments.forEach(function(comment, j){ %>
      <ul>

        <li>
          <a href="/<%= review.username %>"><%= comment.username %></a>
          <span class="muted"><%= new Date(comment.date).toDateString() %></span>
        </li>

        <% if(comment.status){ %>
        <li>
          Requested to set status to: 
          <span class="label label-<%= (comment.status === 'validated') ? 'success': 'important' %>"><%= (comment.status === 'validated') ? 'validated': 'rejected' %></span>
        </li>
        <% } %>

        <% if(comment.change){ %>
        <li>
          Changed status to: 
          <span class="label label-<%= (comment.change === 'validated') ? 'success': 'important' %>"><%= (comment.change === 'validated') ? 'validated': 'rejected' %></span>
        </li>
        <% } %>

        <% if (comment.vizbit){ %>
        <li><a class="vizbitFetch" href="/vizbit/<%= review._id %>/<%= j %>" data-view="#filtering">run</a></li>
        <% } %>

        <% if(comment.body){ %>
        <li><%= comment.body %></li>      
        <% } %>
      </ul>
      <% })}; %>

    </div>
    
    <button type="button" class="btn btn-mini" data-toggle="collapse" data-target="#<%= review._id %>"><% if(review.type === 'theta'){ %><i class="icon-comment"></i> <% } %>Comment</button>

    <div id="<%= review._id %>" class="collapse collapse-comment">
      
      <form class="post" action="/comment" method="post">

        <% if(username !== review.username){ %>
        <label class="checkbox">
          <input type="checkbox" name="status" value="<%= (review.status === 'validated') ? 'rejected': 'validated' %>"/> Ask the reviewer to change its status to <%= (review.status === 'validated') ? 'rejected': 'validated' %>
        </label>
        <% } else { %>
        <label class="checkbox">
          <input type="checkbox" name="change" value="<%= (review.status === 'validated') ? 'rejected': 'validated' %>"/> Change the status of my review to <%= (review.status === 'validated') ? 'rejected': 'validated' %>
        </label>
        <% } %>

        <% if(review.type === 'theta'){ %>
        <!-- vizbit -->
        <p>
          <button class="vizbit btn btn-mini"><i class="icon-file"></i> Attach current run</button> 
          <a class="vizbitLink" href="#filtering"></a>
          <a class="vizbitRemove hidden" href="#"><i class="icon-remove"></i></a>
        </p>
        <% } %>

        <textarea rows="2" class="span3" name="body"></textarea>
        <input type="hidden" name="review_id" value="<%= review._id %>"/>
        <input type="hidden" name="type" value="<%= review.type %>"/>
        <% if ('parameter' in review.name) { %><input type="hidden" name="parameter" value="<%= review.name.parameter %>"/><% } %>
        <% if ('group' in review.name) { %><input type="hidden" name="group" value="<%= review.name.group %>"/><% } %>
        <input type="hidden" name="_csrf" value="<%= token %>"/>
        
        <p>
          <button class="btn btn-mini" type="submit">Submit</button>
        </p>
      </form>

    </div>

<hr />
  </div>

</div>
<% }); %>

