<% reviews.forEach(function(review, i){ %>
<div class="row">
  <div class="span5">
    <ul>

      <li><a href="/<%= review.username %>"><%= review.username %></a></li>

      <li>on <%= review._id.date || '2013-04-10' %></li>

      <li><span class="label label-<%= (review.decision === 'validated') ? 'success': 'important' %>"><%= (review.decision === 'validated') ? 'validated': 'rejected' %></span></li>

      <% if (review.vizbit){ %>
      <li><a class="vizbitFetch" href="/vizbit/<%= review._id %>" data-view="#filtering">run</a></li>
      <% } %>

      <% if (review.body){ %>
      <li><%= review.body %></li>      
      <% } %>

    </ul>
    

    <% if(review.comments) { review.comments.forEach(function(comment, j){ %>
    <div class="row">
      <div class="span4 offset1">

        <ul>
          <li><%= comment.username %></li>
          <li>on <%= comment.date %></li>

          <% if(comment.decision){ %>
          <li>Requested to set status to: <span class="label label-<%= (comment.decision === 'validated') ? 'success': 'important' %>"><%= (comment.decision === 'validated') ? 'validated': 'rejected' %></span></li>
          <% } %>

          <% if(comment.change){ %>
          <li>Changed status to: <span class="label label-<%= (comment.change === 'validated') ? 'success': 'important' %>"><%= (comment.change === 'validated') ? 'validated': 'rejected' %></span></li>
          <% } %>

          <% if (comment.vizbit){ %>
          <li><a class="vizbitFetch" href="/vizbit/<%= review._id %>/<%= j %>" data-view="#filtering">run</a></li>
          <% } %>

          <% if(comment.body){ %>
          <li><%= comment.body %></li>      
          <% } %>

        </ul>

      </div>
    </div>
    <% })}; %>
    
    <button type="button" class="btn btn-mini" data-toggle="collapse" data-target="#review_<%= i %>"><i class="icon-comment"></i> Discuss</button>

    <div id="review_<%= i %>" class="collapse">
      
      <form class="comment-review-theta" action="/commentreviewtheta" method="post">

        <% if(username !== review.username){ %>
        <label class="checkbox">
          <input type="checkbox" name="decision" value="<%= (review.decision === 'validated') ? 'rejected': 'validated' %>"/> Ask the reviewer to change its status to <%= (review.decision === 'validated') ? 'rejected': 'validated' %>
        </label>
        <% } else { %>
        <label class="checkbox">
          <input type="checkbox" name="change" value="<%= (review.decision === 'validated') ? 'rejected': 'validated' %>"/> Change the status of my review to <%= (review.decision === 'validated') ? 'rejected': 'validated' %>
        </label>
        <% } %>        

        <button class="vizbit btn btn-mini"><i class="icon-file"></i> Attach run</button> 
        <a class="vizbitLink" href="#filtering"></a>
        <a class="vizbitRemove hidden" href="#"><i class="icon-remove"></i></a>

        <textarea rows="3" class="span5" name="body"></textarea>
        <input type="hidden" name="review_id" value="<%= review._id %>"/>
        <input type="hidden" name="_csrf" value="<%= token %>"/>
        
        <p>
          <button class="btn" type="submit">Submit</button>
        </p>
      </form>

    </div>

  </div>
</div>
<% }); %>
