<ul class="inline muted">
  <li><strong>#run</strong>: <%= summaries[trace_id].trace_id %></li>
  <li><strong>Geweke</strong>: <%= s.geweke %></li>
  <li><strong>Raftery</strong>: <%= (s.raftery.success) ? 'M: ' + s.raftery.M + ' N: ' + s.raftery.N + ' Nmin: ' + s.raftery.Nmin + ' I: ' + s.raftery.I : 'restart with M > ' + s.raftery.M %></li>
  <li><strong>Heidelberger</strong>: <%= s.heidel %></li>
  <li><strong>ESS min</strong>: <%= s.essMin %></li>
  <li><strong>DIC</strong>: <%= s.dic %></li>
</ul>
