<form class="form-horizontal">

  <div class="control-group">
    <label class="control-label" for="opt-method">Method</label>
    <div class="controls">
      <select id="opt-method">
        <option value="simul">Simulation</option>
        <option value="smc">Sequential Monte Carlo (SMC)</option>
        <option value="kalman">Extended Kalman Filter (EKF)</option>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="opt-impl">Implementation</label>
    <div class="controls">
      <select id="opt-impl">
        <option value="ode">Ordinary differential equation</option>
        <option value="sde">Stochastic differential equation</option>
        <option value="psr">Poisson process</option>
      </select>
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" for="opt-J">Number of particles/ realisations</label>
    <div class="controls">
      <input type="text" id="opt-J" class="input-small">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="opt-S">Integration time step</label>
    <div class="controls">
      <input type="text" id="opt-S" class="input-small">
    </div>
  </div>

</form>

<table>

  <tr>
    <th></th>
    <th>min</th>
    <th>value</th>
    <th>max</th>
    <th>diff</th>
  </tr>

  <% p.parameter.concat(p.state, l.parameter).forEach(function(par){ %>
  <% if (par.id in t.value) { %>
  <% for(var group in t.value[par].guess){ %>
  <tr>
    <td><%= par %>: <%= group.split('__').join('; ') %></td>
    <td><input type="text" name="min___<%= par %>___<%= group %>" value="<%= t.value[par]['min'][group] %>" class="input-mini" /></td>
    <td><input type="text" name="guess___<%= par %>___<%= group %>" value="<%= t.value[par]['guess'][group] %>" class="input-mini" /></td>
    <td><input type="text" name="max___<%= par %>___<%= group %>" value="<%= t.value[par]['max'][group] %>" class="input-mini" /></td>
    <td> <i class="icon-arrow-down"></td>
  </tr>
  <% } }; });  %>

</table>

