<ul class="nav nav-tabs" id="controlTab">
  <li class="active">
    <a href="#ctr-methods" data-toggle="tab">Methods</a>
  </li>
  <li>
    <a href="#ctr-theta" data-toggle="tab">Theta</a>
  </li>
</ul>

<div class="tab-content">

  <!-- Methods< -->
  <div class="tab-pane active" id="ctr-methods">

    <form class="form-horizontal">

      <div class="control-group">
        <label class="control-label" for="opt-method">Method</label>
        <div class="controls">
          <select id="optAlgo">
            <option value="simul">Simulation</option>
            <option value="smc">Sequential Monte Carlo</option>
            <option value="kalman">Extended Kalman Filter</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="opt-impl">Implementation</label>
        <div class="controls">
          <select id="optImpl">
            <option value="ode">Ordinary differential equation</option>
            <option value="sde">Stochastic differential equation</option>
            <option value="psr">Poisson process</option>
          </select>
        </div>
      </div>


      <div class="control-group">
        <label class="control-label" for="opt-J">Number of particles/ realisations</label>
        <div class="controls">
          <input type="text" id="optJ" class="input-small">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="opt-S">Integration time step</label>
        <div class="controls">
          <input type="text" id="optS" class="input-small"> <span>unit</span>
        </div>
      </div>

    </form>



  </div>

  <!-- Parameters -->
  <div class="tab-pane" id="ctr-theta">

    <div id="slider" class="hidden"></div>

    <table>
      <tr>
        <th></th>
        <th>min</th>
        <th>value</th>
        <th>max</th>
        <% if(t.status !== 'best'){ %>
        <th>diff</th>
        <% } %>
      </tr>

      <% p.parameter.concat(p.state, l.parameter).forEach(function(par){ %>
      <% if (par.id in t.value) { %>
      <% for(var group in t.value[par.id].guess){ %>
      <tr>
        <td><%= par.id %>: <%= group.split('__').join('; ') %></td>
        <td><input type="text" name="min___<%= par.id %>___<%= group %>" value="<%= t.value[par.id]['min'][group] %>" class="input-mini theta" /></td>
        <td><input type="text" name="guess___<%= par.id %>___<%= group %>" value="<%= t.value[par.id]['guess'][group] %>" class="input-mini theta guess" /></td>
        <td><input type="text" name="max___<%= par.id %>___<%= group %>" value="<%= t.value[par.id]['max'][group] %>" class="input-mini theta" /></td>

        <% if(t.status !== 'best'){ %>
        <td> <i class="icon-arrow-down"></td>
        <% } %>

      </tr>
      <% } }; });  %>
    </table>

    
  </div>

</div>

