<% include ../layout %>

<script src="/javascripts/d3_horizon.js"></script>
<script src="/javascripts/horizon.js"></script>
<script src="/javascripts/requests.js"></script>

</head>

<body>

  <div class="container">

    <div class="row">
      <div id="headerLogo" class="span4">
        <h1 class="muted">PLoM.io</h1>
        <p class="plom-brand"> Public Library of Models</p>
      </div>

      <ul id="plomNav" class="nav nav-pills">
        <li><a href="/<%= username %>"><%= username %></a></li>
        <li><a href="/library?<%= dquery %>"><%= context.disease.join('; ') %></a></li>
        <li class="active"><a href="/library?<%= cquery %>"><%= context.name %></a></li>
      </ul>
    </div>

    <hr>

    <div class="row">
      <div class="span8">
        <h3><%= context.disease.join('; ') + ' / ' + context.name %></h3> 
      </div>
      <div class="span4">

        <form id="follow" class="social-action" action="/follow/context" method="post">
          <input type="hidden" name="_csrf" value="<%= token %>"/>
          <% var is_followed = (context_followed.indexOf(context._id.toString()) !== -1); %>
          <input type="hidden" name="action" value="<%= (is_followed) ? 'unfollow': 'follow' %>"/>
          <button class="btn" type="submit"><i class="icon-eye-open"></i> <span><%= (is_followed) ? 'Unfollow': 'Follow' %></span></button>
        </form>

        <form action="/fork/context" method="POST"  class="social-action">
          <input type="hidden" name="_csrf" value="<%= token %>"/>
          <button class="btn" type="submit" value="Fork"><i class="icon-download"></i> Fork</button>
        </form>

      </div>
    </div>


    <div class="row">
      <div class="span6">
        <p>
          <%= context.description %>
        </p>
      </div>
    </div>


    <div class="row">

      <div class="span6">

        <div id="horizonGraph"></div>

        <div id="horizonControl">
          <div class="btn-toolbar">
            <div data-toggle="buttons-checkbox" class="btn-group">
              <button type="button" class="btn btn-small" id="substactMedian">Substract median</button>
            </div>

            <div id="changeMode" data-toggle="buttons-radio" class="btn-group">
              <button class="btn btn-small">Mirror</button>
              <button class="btn btn-small">Offset</button>
            </div>

            <div id="addBand" class="btn-group">
              <button class="btn btn-small">Add band</button>
              <button class="btn btn-small">Remove band</button>
            </div>
          </div>
        </div>

      </div>

      <div class="span6">
        <div class="row">

          <div class="span2">
            <h4>Time series</h4>        
            <ul>
              <% context.time_series.forEach(function(ts){ %>
              <% var d = ts.id.split('__') %>
              <li><span class="label <%= (d[2] === 'inc') ? 'label-inverse' : '' %>"><%= d[2] %></span> <%= d.slice(0,2).join('; ') %> </li>
              <% }) %>
            </ul>
          </div>

          <div class="span2">
            <h4>Populations</h4>
            <ul>
              <% context.population.forEach(function(p){ %>
              <li><%= p.id.split('__').join('; ')%></li>
              <% }) %>
            </ul>
          </div>

          <div class="span2">
            <h4>Metadata</h4>
            <ul>
              <% context.data.filter(function(d){return d.id !== 'data';}).forEach(function(d){ %>
              <li><%= d.id %></li>
              <% }) %>
            </ul>        
          </div>

        </div>
      </div>

    </div>



    <hr>

    <div class="row" id="addRequest">
      <div class="span12">
        <h3>Requests</h3>
        <button class="btn" data-target="#addPrior"><i class="icon-plus"></i> Request a prior</button>
        <button class="btn" data-target="#addResults"><i class="icon-plus"></i> Request results</button>
        <button class="btn" data-target="#addFork"><i class="icon-plus"></i> Request a context fork</button>
      </div>
    </div>


  </div> <!-- break container -->

  <div id="addPrior" class="collapse">
    <hr/>
    <div class="container"><div class="row"><div class="span10 offset2">
          <form class="post" action="/requests" class="form-horizontal" method="post">
            <input type="hidden" name="_csrf" value="<%= token %>"/>
            <input type="hidden" name="type" value="prior"/>

            <p>
              <input name="parameter" type="text" class="span2" placeholder="Parameter name">
              <select name="par_type" class="span2">
                <option value="process">process</option>
                <option value="state">state</option>
                <option value="observation">observation</option>
              </select>
            </p>
            <p><input name="description" type="text" rows="5" class="span8" placeholder="Parameter description"></input></p>
            <p><select name="population_id" class="span2">
                <% context.population.forEach(function(p){ %>
                <option value="<%= p.id %>"><%= p.id.split('__').join('; ')%></option>
                <% }) %>
            </select></p>
            <p><textarea name="body" rows="5" class="span8" placeholder="My request"></textarea></p>
            <button type="submit" class="btn">Request</button>
          </form>
    </div></div></div>
    <hr/>
  </div>

  <div id="addResults" class="collapse">
    <hr/>
    <div class="container"><div class="row"><div class="span10 offset2">
          <form class="post" action="/requests" class="form-horizontal" method="post">
            <input type="hidden" name="_csrf" value="<%= token %>"/>
            <input type="hidden" name="type" value="results"/>

            <p><input name="title" type="text" class="span8" placeholder="Title"></p>
            <p><textarea name="body" rows="5" class="span8" placeholder="My request"></textarea></p>
            <button type="submit" class="btn">Request</button>
          </form>
    </div></div></div>
    <hr/>
  </div>

  <div id="addFork" class="collapse">
    <hr/>
    <div class="container"><div class="row"><div class="span10 offset2">
          <form class="post" action="/requests" class="form-horizontal" method="post">
            <input type="hidden" name="_csrf" value="<%= token %>"/>
            <input type="hidden" name="type" value="fork"/>

            <p><input name="title" type="text" class="span8" placeholder="Title"></p>
            <p><textarea name="body" rows="5" class="span8" placeholder="My request"></textarea></p>
            <button type="submit" class="btn">Request</button>
          </form>
    </div></div></div>
    <hr/>
  </div>

  <div class="container">

    <div class="row">
      <div class="span12">

        <div class="well well-small">
          <label class="radio inline">
            <input type="radio" name="type" value="all" checked="checked">All
          </label>
          <label class="radio inline">
            <input type="radio" name="type" value="prior">Prior  
          </label>
          <label class="radio inline">
            <input type="radio" name="type" value="results">Results
          </label>
          <label class="radio inline">
            <input type="radio" name="type" value="fork">Fork
          </label>
        </div>
        
        <div class="tab-pane active" id="threads"></div>
        
      </div>
    </div>


    <hr>

    <% include ../footer %>
